[submodule "micro-ROS-Agent"]
	path = micro-ROS-Agent
	url = https://github.com/micro-ROS/micro-ROS-Agent.git
[submodule "realsense-ros"]
	path = realsense-ros
	url = https://github.com/IntelRealSense/realsense-ros.git
